$footer-color-text: #b79c7d;
$footer-color-text--hover: #96664d;

.footer__logo {
  height: 100px;

  img {
    height: auto;
    width: auto;
    max-height: 100%;
  }
}

.footer__menu .menu {
  @include breakpoint-up(md) {
    display: flex;
    flex-direction: row;
  }
}

.footer__menu .menu-item a {
  color: $footer-color-text;

  &:hover {
    color: $footer-color-text--hover;
  }
}

/* newsletter signup */

.newsletter-signup__container {
  display: flex;
  max-width: 450px;
  margin: 0 auto;
}

.newsletter-signup__email {
  width: 70%;
}

input.newsletter-signup__submit {
  width: 30%;
  padding-top: 16px !important;
}

.newsletter-signup__email,
.newsletter-signup__email input,
input.newsletter-signup__submit {
  margin: 0 !important;
}

.newsletter-signup__email input,
input.newsletter-signup__submit {
  height: 45px;
}

footer .widget_eltd_social_icon_widget {
  margin-top: 25px;

  i {
    font-size: 1.7em;
  }

  i:hover {
    color: $footer-color-text--hover;
  }
}

// bottom footer
.eltd-footer-bottom-holder {
  background-color: none;
}
