$footer-color-text: #b79c7d;
$footer-color-text--hover: #96664d;

//TODO quick fix for now
footer * {
  font-family: 'Abel', Abel !important;
}

.footer__logo {
  height: 100px;

  img {
    height: auto;
    width: auto;
    max-height: 100%;
  }
}

.footer__menu .menu {
  @include breakpoint-up(md) {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }
}

.footer__menu .menu-item {
  margin: 0 10px;
}

.footer__menu .menu-item a {
  color: $footer-color-text;

  &:hover {
    color: $footer-color-text--hover;
  }
}

/* newsletter signup */

.footer__newsletter-text {
  margin: 15px 0 20px;

  @include breakpoint-up(sm) {
    margin-top: 25px;
  }

  .eltd-footer-widget-title {
    color: $footer-color-text;
    font-size: 1.5em;
  }
}

.newsletter-signup__container {
  display: flex;
  max-width: 450px;
  margin: 0 auto;
}

.newsletter-signup__email {
  width: 70%;

  input {
    background: none !important;
  }
}

input.newsletter-signup__submit {
  width: 30%;
  padding-top: 16px !important;

  &:hover {
    border-color: #a27d53 !important;
  }
}

.newsletter-signup__email,
.newsletter-signup__email input,
input.newsletter-signup__submit {
  margin: 0 !important;
}

.newsletter-signup__email input,
input.newsletter-signup__submit {
  height: 45px;
  border: 1px solid $footer-color-text !important;
}

footer .widget_eltd_social_icon_widget {
  margin-top: 25px;

  i {
    font-size: 1.4em;
    margin: 8px;
  }

  a:hover i,
  i:hover {
    color: $footer-color-text--hover;
  }
}

footer .textwidget {
  color: $footer-color-text;
}

// bottom footer
footer .eltd-footer-bottom-holder {
  background: none;
}
