header .eltd-menu-area {
  background: none !important;
  border: none !important;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--fixed {
  position: absolute;
  top: 0;
  z-index: 101;
  width: 100%;
}

.header__sticky-container {
  display: initial;

  .eltd-sticky-header {
    padding: 0 !important;
  }
}

.header__left-area,
.header__right-area {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 20px;
}

.header__left-area {
  text-align: right;
}

.header__logo {
  width: 175px;

  img {
    max-width: 100%;
  }
}

// navigation
.header__left-area nav,
.header__right-area nav {
  margin-top: 40px;
}

.header .menu-item .item_text,
.header__sticky-container .menu-item .item_text {
  color: var(--header-text-color);
  font-size: 1rem;
}

// fix to show dropdown items (body has a z-index of 100)
.header .eltd-drop-down .second {
  z-index: 999 !important;
}
